/*Not married to this, a lot is gonna change*/
/*Add Animal and Calf pages*/
.aTitle{
    grid-area: aTitle;
    /*background-color: #00850b;*/
    height: 10vh;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    /*align-content: center;*/
    justify-content: center;
}

.aType{
    grid-area: aType;
    /*background-color: #b70202;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aType #animalType h2{
    text-align: center;
}

.aType #animalType table{
    margin: auto;
    width: 15vw;
    text-align: center;
}

.aType #animalType td{
    padding: 0px 5px;
    margin: auto;

}

.aPic{
    grid-area: aPic;
    background-color: #a46c02;
    /*width: 10vw;*/
    /*height: 10vh;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
}

.aID{
    grid-area: aID;
    /*background-color: #1985e5;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aID input{
    width: 50%
}

.aStatus{
    grid-area: aStatus;
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.aStatus #boughtFrom{
    width: 50%;
    margin: auto;
}

.aStatus #breed{
    width: 50%;
    margin: auto;
}

.aDates{
    grid-area: aDates;
    /*background-color: aqua;*/
    display: flex;
    /*height: 15vh;*/
    justify-content: space-around;
    /*flex-direction: column;*/
    align-items: center;
}

.naturalDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otherDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aSubmit{
    grid-area: aSubmit;
    /*background-color: blueviolet;*/
    display: flex;
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}


.aSubmit button{
    width: 8vw;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--attentionColor);
    border-radius: 10px;
}
.aSubmit button:hover{
    background-color: var(--actionColor);
}

#listTitle{
    grid-area: listTitle;
    display: flex;
    justify-content: center;
}
#listTable{
    grid-area: listTable;
    display: flex;
    justify-content: center;
}
#listFooter{
    grid-area: listFooter;
}
#listTable #herdList {
    width: 40vw;
}

#listTable #herdList tr{
    height: 2vh;
    align-content: center;
    /*background-color: var();*/
}
#listTable #herdList td{
    padding: 5px;
    text-align: center;
}

.aSubmit #deleteBtn {
    width: 8vw;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--attentionColor);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-justify: auto;
}