/*Add Animal and Calf pages*/
.aTitle{
    grid-area: aTitle;
    height: 10vh;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.aType{
    grid-area: aType;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: var(--secondaryColor);
}

.aType #animalType h2{
    text-align: center;
}

.aType #animalType table{
    margin: auto;
    width: 15vw;
    text-align: center;
}

.aType #animalType td{
    padding: 0px 5px;
    margin: auto;

}

.aPic{
    grid-area: aPic;
    background-color: firebrick;
}

.aID{
    grid-area: aID;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    background-color: #a46c02;
}

.aID input{
    width: 50%
}

.aStatus{
    grid-area: aStatus;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #00850b;
}

.aStatus #boughtFrom{
    width: 50%;
    margin: auto;
}

.aStatus #breed{
    width: 50%;
    margin: auto;
}

.aDates{
    grid-area: aDates;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    background-color: cadetblue;
}

.naturalDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otherDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aSubmit{
    grid-area: aSubmit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}

.aSubmit button{
    width: 8vw;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--attentionColor);
    border-radius: 10px;
}

.aSubmit button:hover{
    background-color: var(--actionColor);
}

#listTitle{
    grid-area: listTitle;
    display: flex;
    justify-content: center;
}

#listTable{
    grid-area: listTable;
    display: flex;
    justify-content: center;
    background-color: #595959;
    color: var(--baseColor);
    border-radius: 15px;
}

#listTable table{
    border-collapse: collapse;

}

#listTable table thead{
    background-color: var(--baseColor);
    height: 7vh;
    font-size: large;
    width: 100%;
    color: var(--whiteText);
    border: solid 2px black;
    border-radius: 25px;
}

#listTable table button{
    min-height: 2.5vh;
    min-width: 8vh;
    border-radius: 15px;
    background-color: var(--attentionColor);
}

#listTable table button:hover{
    background-color: var(--actionColor);
}

/*#listTable table thead tr{*/
/*    border-radius: 15px;*/

/*}*/

#listTable a{
    text-decoration: none;
}

#listFooter{
    grid-area: listFooter;
}
#listTable #herdList {
    width: 40vw;
}

#listTable #herdList tr{
    height: 2vh;
    align-content: center;
}

#listTable #herdList td{
    padding: 5px;
    text-align: center;
}

.aSubmit #deleteBtn {
    width: 8vw;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--attentionColor);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-justify: auto;
}

/*Calf styling*/
.calfTitle{
    grid-area: calfTitle;
    display: flex;
    justify-content: center;
}

.calfBasicInfo{
    grid-area: calfBasicInfo;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}

.calfBasicInfo table {
    margin-bottom: 25px;
    margin-top: 25px;
}

.calfBasicInfo table td {
    width:4vw;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.weightAndParents table td {
    width:6vw;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.calfImage{
    grid-area: calfImages;
    width: 1vw;
}

.calfExtraInfo{
    grid-area: calfExtraInfo;
    width: 1vw;

}

.calfSubmit{
    grid-area: calfSubmit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calfSubmit button{
    height: 3.5vh;
    width: 6vw;
    border-radius: 5px;
    background-color: var(--attentionColor);
    font-size: large;
}

.calfSubmit button:hover{
    background-color: var(--actionColor);
}

.calfExtraInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.calfExtraInfo input{
    width: 50%;
}

.CalfListOnHerd{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CalfListOnHerd{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CalfListOnHerd table button{
    border-radius: 15px;
    width: 2.5vw;
    background-color: var(--attentionColor);
}

.CalfListOnHerd table button:hover{
    background-color: var(--actionColor);
}

.herdDropDownInput{
    width: 40%;
    text-align: center;
    height: 3vh;
    border-radius: 5px;
}

#aTypeDropDown{
    width: 100%;
}

#calfDropDown{
    width: 60%;
}

.herdTableForm{
    margin: auto;
}

.herdTableForm input{
    width: 85%;
    text-align: center;
    border-radius: 5px;
}