:root{
    --baseColor: #1d1d1d;
    --secondaryColor: #818181;
    --attentionColor: #be680b;
    /*--overlayColor: rgba(255, 0, 0, 0.2);    */
    --overlayColor: rgba(164, 108, 2, 0.05);
    --actionColor: #00850b;
    --whiteText: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: var(--whiteText);
}

body{
    background-color: var(--baseColor);
}

/*Header and Nav*/
#siteLogo{
    align-items: center;
}

#siteLogo img{
    width: 30%;
}

#siteLogo span{
    font-size: 80px;
    text-shadow: 3px 5px 6px #a46c02;
}

#headerSearch input{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    font-size: large;
}

.navULContainer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: var(--secondaryColor);*/
    display: flex;
    flex-direction: column;
    text-align: center;
    /*    border-radius: 5px;*/
}

.navButton{
    /*float: right;*/
    transition: width 4s;
    border-radius: 5px;
}

.navButton a {
    display: block;
    color: var(--whiteText);
    text-align: center;
    width: 100%;
    height: 4vh;
    padding: 14px 16px;
    text-decoration: none;

}

.navButton a:hover{
    /*background-color: var(--overlayColor);*/
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, var(--overlayColor)100%);
    border-bottom: 1px solid var(--whiteText);
    border-radius: 10px;
    /*width: 70px;*/

}

.loginPageStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorPage{
    display: flex;
    flex-direction: column;
}

.rTitle{
    grid-area: rTitle;
    font-size: xx-large;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: center;*/
}

.rBInfo{
    grid-area: rBInfo;
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    /*align-content: center;*/
}

.rBInfo input{
    height: 2vh;
    width: 40%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    font-size: large;
}

.rSub button{
    height: 4.5vh;
    width: 6.5vw;
    margin: auto;
    border-radius: 15px;
    font-size: x-large;
    background-color: var(--attentionColor);
}

.rSub button:hover{
    background-color: var(--actionColor);
}

.rSub{
    grid-area: rSub;
    display: flex;
    /*flex-direction: column;*/
    align-content: center;
}
