/*Main Grid Layout for website*/
.mainGridContainer{
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
            "headerContent"
            "mainContentContainer"
            "footerContent";
}

.headerContent{
    grid-area: headerContent;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "siteLogo headerSearch headerAccount";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 1vh;
}

.mainContentContainer{
    grid-area: mainContentContainer;
    height: 80vh;
    grid-template-columns: 1.2fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navContainer mainContent sideContent";
    display: flex;
    justify-content: space-between;
}

.footerContent{
    grid-area: footerContent;
    height: 10vh;
    background-color: azure;
}
/*-----------------------------*/
/*header Grid Layout ----------*/
#siteLogo{
    grid-area: siteLogo;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
}

#headerSearch{
    grid-area: headerSearch;
    height: 100%;
    width: 30vw;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#headerAccount{
    grid-area: headerAccount;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
}
/*-----------------------------*/
/*MainContentContainer Grid Layout ----------*/
#navContainer{
    grid-area: navContainer;
    width: 20vw;
}

#mainContent{
    grid-area: mainContent;
    width: 50vw;
}

#sideContent{
    grid-area: sideContent;
    width: 20vw;
}

/*This is on specific pages*/
/*Add Animal Page----------*/
#addAnimalPage{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    grid-template-rows: 1.2fr 1.2fr 2fr 2fr 1fr;
    grid-template-areas:
    "aTitle aTitle"
    "aType aPic"
    "aID aStatus"
    "aID aDates"
    "aSubmit aSubmit";
}
/*Add Animal Page-------END*/
/*Animal List Page---------*/
#herdListPage{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: .2fr 3fr 1fr;
    grid-template-areas:
        "listTitle"
        "listTable"
        "listFooter"
}

/*Animal List Page------END*/
/*Add LOGIN Page-----------*/
.loginPageStyle{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1.2fr 1.2fr 2fr 2fr 1fr;
    grid-template-areas:
        "lTitle"
        "lUserName"
        "lPassword"
        "lSubmit";
}
.lTitle{
    grid-are: lTitle;
    display: flex;
    justify-content: center;
}
.lUserName{
    grid-are: lUserName;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lPassword{
    grid-are: lPassword;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lSubmit{
    grid-are: lSubmit;
    display: flex;
    justify-content: center;
}

.lSubmit button{
    height: 4vh;
    width: 5vw;
    border-radius: 10px;
    font-size: medium;
}

.lSubmit button:hover{
    background-color: var(--actionColor);
}
/*Add LOGIN Page--------END*/
/*NEW USER Page------------*/
.NewUserFormPage{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: .5fr 3fr 1fr;
    grid-template-areas:
        "rTitle"
        "rBInfo"
        "rSub";
    text-align: center;
}
/*NEW USER Page---------END*/
/*Calf Page----------------*/
.addCalfPage{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    grid-template-rows: .5fr 1.2fr 2fr 1.2fr .5fr;
    grid-template-areas:
        "calfTitle calfTitle"
        "calfBasicInfo calfImages"
        "calfBasicInfo calfExtraInfo"
        "calfBasicInfo calfExtraInfo"
        "calfSubmit calfSubmit";
}

/*Calf Page-------------END*/
/*Index Page---------------*/
#userIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 2.5fr 3.5fr;
    grid-template-areas:
        "iTitle iTitle iTitle"
        "iBull iCow iCalf"
        "iBail dAvgC dAvgC";
    gap: 1em;
}
/*Index Page------------END*/
